@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profit-chart {
  fill: white !important;
  stroke: green !important;
  color: hsl(146 79% 44% / 1) !important;
}
